Interpreter/*.exe
*.exe
Interpreter/Interpreter/Interpreter.csproj.user
Interpreter/Interpreter/.vs/Interpreter/xs/UserPrefs.xml
Interpreter/Interpreter/.vs/Interpreter/xs/sqlite3/db.lock
Interpreter/Interpreter/.vs/Interpreter/xs/sqlite3/storage.ide
Interpreter/Interpreter/.vs/Interpreter/xs/sqlite3/storage.ide-shm
Interpreter/Interpreter/.vs/Interpreter/xs/sqlite3/storage.ide-wal
Interpreter/Interpreter/ParserEngine/obj/ParserEngine.fsproj.nuget.cache
Interpreter/Interpreter/ParserEngine/obj/ParserEngine.fsproj.nuget.g.props
Interpreter/Interpreter/ParserEngine/obj/ParserEngine.fsproj.nuget.g.targets
Interpreter/Interpreter/ParserEngine/obj/project.assets.json
Interpreter/Interpreter/ParserEngine/obj/Debug/netcoreapp2.1/ParserEngine.assets.cache
Interpreter/Interpreter/ParserEngine/obj/Debug/netcoreapp2.1/ParserEngine.fsprojAssemblyReference.cache
Interpreter/Interpreter/CoreParser/bin/Debug/netcoreapp2.1/CoreParser.deps.json
Interpreter/Interpreter/CoreParser/bin/Debug/netcoreapp2.1/CoreParser.dll
Interpreter/Interpreter/CoreParser/bin/Debug/netcoreapp2.1/CoreParser.pdb
Interpreter/Interpreter/CoreParser/bin/Debug/netcoreapp2.1/CoreParser.runtimeconfig.dev.json
Interpreter/Interpreter/CoreParser/bin/Debug/netcoreapp2.1/CoreParser.runtimeconfig.json
Interpreter/Interpreter/CoreParser/obj/CoreParser.csproj.nuget.cache
Interpreter/Interpreter/CoreParser/obj/CoreParser.csproj.nuget.g.props
Interpreter/Interpreter/CoreParser/obj/CoreParser.csproj.nuget.g.targets
Interpreter/Interpreter/CoreParser/obj/project.assets.json
Interpreter/Interpreter/CoreParser/obj/Debug/netcoreapp2.1/CoreParser.AssemblyInfo.cs
Interpreter/Interpreter/CoreParser/obj/Debug/netcoreapp2.1/CoreParser.AssemblyInfoInputs.cache
Interpreter/Interpreter/CoreParser/obj/Debug/netcoreapp2.1/CoreParser.assets.cache
Interpreter/Interpreter/CoreParser/obj/Debug/netcoreapp2.1/CoreParser.csproj.CoreCompileInputs.cache
Interpreter/Interpreter/CoreParser/obj/Debug/netcoreapp2.1/CoreParser.csproj.FileListAbsolute.txt
Interpreter/Interpreter/CoreParser/obj/Debug/netcoreapp2.1/CoreParser.csprojAssemblyReference.cache
Interpreter/Interpreter/CoreParser/obj/Debug/netcoreapp2.1/CoreParser.dll
Interpreter/Interpreter/CoreParser/obj/Debug/netcoreapp2.1/CoreParser.pdb
Interpreter/Interpreter/ParserEngine/bin/Debug/netcoreapp2.1/CoreParser.dll
Interpreter/Interpreter/ParserEngine/bin/Debug/netcoreapp2.1/CoreParser.pdb
Interpreter/Interpreter/ParserEngine/bin/Debug/netcoreapp2.1/ParserEngine.deps.json
Interpreter/Interpreter/ParserEngine/bin/Debug/netcoreapp2.1/ParserEngine.dll
Interpreter/Interpreter/ParserEngine/bin/Debug/netcoreapp2.1/ParserEngine.pdb
Interpreter/Interpreter/ParserEngine/bin/Debug/netcoreapp2.1/ParserEngine.runtimeconfig.dev.json
Interpreter/Interpreter/ParserEngine/bin/Debug/netcoreapp2.1/ParserEngine.runtimeconfig.json
Interpreter/Interpreter/ParserEngine/obj/Debug/netcoreapp2.1/ParserEngine.dll
Interpreter/Interpreter/ParserEngine/obj/Debug/netcoreapp2.1/ParserEngine.fsproj.CopyComplete
Interpreter/Interpreter/ParserEngine/obj/Debug/netcoreapp2.1/ParserEngine.fsproj.FileListAbsolute.txt
Interpreter/Interpreter/ParserEngine/obj/Debug/netcoreapp2.1/ParserEngine.pdb
Interpreter/Interpreter/GUI/bin/Debug/CoreParser.dll
Interpreter/Interpreter/GUI/bin/Debug/CoreParser.pdb
Interpreter/Interpreter/GUI/bin/Debug/GUI.pdb
Interpreter/Interpreter/GUI/bin/Debug/NLP_Lexer.dll
Interpreter/Interpreter/GUI/bin/Debug/NLP_Lexer.pdb
Interpreter/Interpreter/GUI/bin/Debug/ParserEngine.dll
Interpreter/Interpreter/GUI/bin/Debug/ParserEngine.pdb
Interpreter/Interpreter/GUI/obj/x86/Debug/GUI.csproj.CoreCompileInputs.cache
Interpreter/Interpreter/GUI/obj/x86/Debug/GUI.csproj.FileListAbsolute.txt
Interpreter/Interpreter/GUI/obj/x86/Debug/GUI.csprojAssemblyReference.cache
Interpreter/Interpreter/GUI/obj/x86/Debug/GUI.pdb
Interpreter/Interpreter/NLP_Lexer/bin/Debug/netcoreapp2.1/CoreParser.dll
Interpreter/Interpreter/NLP_Lexer/bin/Debug/netcoreapp2.1/CoreParser.pdb
Interpreter/Interpreter/NLP_Lexer/bin/Debug/netcoreapp2.1/NLP_Lexer.deps.json
Interpreter/Interpreter/NLP_Lexer/bin/Debug/netcoreapp2.1/NLP_Lexer.dll
Interpreter/Interpreter/NLP_Lexer/bin/Debug/netcoreapp2.1/NLP_Lexer.pdb
Interpreter/Interpreter/NLP_Lexer/bin/Debug/netcoreapp2.1/NLP_Lexer.runtimeconfig.dev.json
Interpreter/Interpreter/NLP_Lexer/bin/Debug/netcoreapp2.1/ParserEngine.dll
Interpreter/Interpreter/NLP_Lexer/bin/Debug/netcoreapp2.1/ParserEngine.pdb
Interpreter/Interpreter/NLP_Lexer/obj/NLP_Lexer.csproj.nuget.cache
Interpreter/Interpreter/NLP_Lexer/obj/NLP_Lexer.csproj.nuget.g.props
Interpreter/Interpreter/NLP_Lexer/obj/NLP_Lexer.csproj.nuget.g.targets
Interpreter/Interpreter/NLP_Lexer/obj/project.assets.json
Interpreter/Interpreter/NLP_Lexer/obj/Debug/netcoreapp2.1/NLP_Lexer.assets.cache
Interpreter/Interpreter/NLP_Lexer/obj/Debug/netcoreapp2.1/NLP_Lexer.csproj.CoreCompileInputs.cache
Interpreter/Interpreter/NLP_Lexer/obj/Debug/netcoreapp2.1/NLP_Lexer.csproj.FileListAbsolute.txt
Interpreter/Interpreter/NLP_Lexer/obj/Debug/netcoreapp2.1/NLP_Lexer.csprojAssemblyReference.cache
Interpreter/Interpreter/NLP_Lexer/obj/Debug/netcoreapp2.1/NLP_Lexer.dll
Interpreter/Interpreter/NLP_Lexer/obj/Debug/netcoreapp2.1/NLP_Lexer.pdb
